.about{
    line-height: 1.8;
    margin: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    background-color: lightgreen;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 20px;
}
.about-body{
    width: 80%;
    margin-left: 10%;
}
.education{
    line-height: 1.8;
    margin: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    background-color: lightgreen;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 20px;
}
.button{
    text-align: center;
}