*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
}

:root{
    --dark-color: rgb(1, 82, 1);
    --primary-color: #0eb582;
    --secondary-color: #d6fbe5;
    --border: .1rem solid var(--primary-color);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);

    --heading-font: 3rem;
    --subheading-font: 1.5rem;
    --body-font: 1.1rem;
}

.course-body{
    line-height:1.8;
    margin: 18px;
    padding: 20px;
    background-color: var(--secondary-color);
    color: black;
    text-align: center;
    font-size: var(--body-font);
}
.closure{
    line-height:1.8;
    margin: 18px;
    background-color: var(--secondary-color);
    margin: 20px;
    text-align: center;
    padding: 10px;
    font-size: var(--body-font);
}
.accordion {
    background-color: var(--secondary-color);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: 5px;
    transition: 0.4s;
    font-size: var(--body-font);
    margin-bottom: .5rem;
}
.active, .accordion:hover {
    background-color: #ccc;
 }

.panel {
    line-height: 1.8;
    width: 100%;
    color: var(--secondary-color);
    padding: 18px;
    background-color: var(--dark-color);
    text-align: center;
    display: none;
    overflow: hidden;
    font-size: var(--body-font);
}