*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
}

:root{
    --dark-color: rgb(1, 82, 1);
    --primary-color: #0eb582;
    --secondary-color: #d6fbe5;
    --border: .1rem solid var(--primary-color);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);

    --heading-font: 3rem;
    --subheading-font: 1.5rem;
    --body-font: 1.1rem;
}

body{
    background-color: white
}

.btn{
    padding: .7rem 1rem;
    background-color: var(--dark-color);
    color: var(--secondary-color);
    font-size: var(--body-font);
    border: var(--border);
    border-radius: 2rem;
}




/************ START OF HEADER *************/
/******************************************/

header{
    width: 100%;
    min-height: 500px;
    background-image: url(../images/heading-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;
    height: 90px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.logo a{
    font-size: 1.75rem;
    color: var(--dark-color);
    text-transform: uppercase;
}

.logo img{
   padding: .25rem;
   width: 55px;
   margin-bottom: 1.25rem;
}
.nav-items{
    position: relative;
}

.nav-items a{
    margin-right: 1rem;
    font-size: 1rem;
    color: var(--dark-color);
    text-transform: uppercase;
    padding: 0 .5rem;
}

.nav-items a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}

#close-menu{
    display: none;
}

.nav-icons{
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--dark-color);
}

.nav-icons div{
    margin-left: 1rem;
}

#menu-btn{
    display: none;
}

.banner{
    text-align: center;
    margin-top: 4rem;
    padding: 2rem;
}

.banner h1{
    font-size: 4rem;
}
.banner h3{
    font-size: 2rem;
}

.about-section h1{
    margin-bottom: 3rem;
}


/************ END OF HEADER ***************/
/******************************************/

section{
    padding: 4rem 10%;
    /* border-top: var(--border);
    border-bottom: var(--border); */
}

/************ START OF PROCESS SECTION *************/
/***************************************************/
.process{
    padding: 2rem;
}

.process-container{
    text-align: center;
    display: flex;
    box-shadow: var(--box-shadow);
}

.process-left{
    position: relative;
}

.process-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.process-right p{
    margin-top: .5rem;
    font-size: var(--body-font);
    padding: 0 2rem;
}

.process-right h1{
    font-size: var(--heading-font);
}

.card{
    padding: 1rem;
    border: none;
}

.card p{
    padding: 0;
}

.process-card-container{
    display: flex;
    margin: 1rem;
}

.process-card-container img{
    width: 75px;
}


/************ END OF PROCESS SECTION *************/
/***************************************************/



/************ START OF SUBJECTS SECTION *************/
/***************************************************/

.heading{
    text-align: center;
    /* margin-bottom: 3rem; */
    font-size: var(--heading-font);
}

.subjects ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.subjects ul li{
    padding: 0 10px;
}

.subjects ul li a{
    color: black
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.box{
    padding: 3rem 2rem;
    text-align: center;
    border: var(--border);
    background-color: var(--secondary-color);
    cursor: pointer;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-color);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .3s ease;
  }

  .overlay h3{
    margin-bottom: .5rem;
  }

  .overlay p{
    font-size: .9rem;
    margin-bottom: .5rem;
    padding: 0 .5rem;
  }

  .overlay button{
    width: 75%;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: .5rem;
    background-color: var(--dark-color);
    color: white;
    border: var(--border);
  }
  
  .box:hover .overlay {
    height: 100%;
    padding: 1rem;
    color: var(--secondary-color);
  }

.box img{
    width: 5rem;
    height: 5rem;
    margin-bottom: .5rem;
}

.box h3{
    padding: .5rem 0;
    font-size: var(--subheading-font);
}

.box button{
    width: 75%;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: .5rem;
    background-color: var(--dark-color);
    color: white;
    border: var(--border);
}

/************ END OF SUBJECTS SECTION *************/
/***************************************************/


/* START OF FOOTER */
.footer{
    background-color: var(--secondary-color);
    padding: 4rem 0 4rem 0;
    
}

.footer-container{
    width: 90%;
    /* background-color: rgb(90, 90, 90); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.footer-container img{
    margin:  0 4rem 0 0;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-links{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 4rem;
    text-align: center;
}

.footer-links h4{
    margin-bottom: 1rem;
    color: black;
}

.footer-links a{
    color: black;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer-links a:hover{
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
}

.footer-email-form h4{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: black;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

#footer-email::placeholder{
    color: #b1b1b1;
}

#footer-email-btn{
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 10px

}

#footer-email-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    transition: all 0.4 ease-out;
    color: white;
}

.footer-copyright{
    text-align: center;
    color: black;
    font-size: 1rem;
}
.footer-copyright hr{
    width: 70%;
    margin: 0.5rem auto;
    border: 1px solid var(--primary-color);
}

/* END OF FOOTER */




/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .navbar{
        padding: 1rem 5%;
    }
}

@media (max-width: 1000px) {
    html{
        font-size: 90%;
    }

    .navbar{
        padding: 2rem;
    }

    .process-container{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 770px) {
    html{
        font-size: 90%;
    }

    .process-card-container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .process-card-container p{
        padding: 0 20%;
    }

    .nav-items{
        position: fixed;
        top: 0;
        right: -200%;
        width: 350px;
        background: var(--dark-color);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
        transition: all 0.8s ease;
    }

    .show-nav{
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
        right: 0;
    }

    #close-menu{
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 4rem;
        cursor: pointer;
        color: var(--secondary-color);
    }

    .nav-items a{
        display: block;
        margin: 1rem 0;
        text-align: center;
        color: var(--secondary-color);
        font-size: 2rem;
    }

    #menu-btn{
        display: inline-block;
    }

}

@media (max-width: 450px) {
    html{
        font-size: 75%;
    }

    header{
        min-height: 400px;
    }
}
